fastapi
uvicorn[standard]
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
pillow
motor          # async MongoDB driver
python-dotenv  # load .env
python-multipart # for UploadFile in FastAPI
bcrypt         # for password hashing
requests       # for Audius API calls
email-validator # required for Pydantic EmailStr
